# Introduction/ Welcome word.

Hi! Thank you for the correction/ review! 

My name is Tauras Aleksandravicius and this is my  **Data Science Module 3 Capstone project.**

In this project I focused on **supervised Machine learning fundamentals.**

For this purpose I worked with a Home Credit Default Risk dataset. [Link to the Dataset](https://www.kaggle.com/c/home-credit-default-risk/data)

<span style="font-size: larger;">**Project Problem:**</span>

Me and my friend came up with a start-up idea - provide risk evaluation as a service for retail banks. For this purpose we need to leverage Machine Learning and be able to predict defaults on bank loans. Aim of the project is to classify applicants into one who will default bank loan or not.

<span style="font-size: larger;">**Proposed Solution:**</span>

Our approach involves leveraging Exploratory Data Analysis (EDA) and Machine Learning techniques to perform an in-depth analysis of historical home credit loan data. This also involves advanced feature engineering techniques, feature selection, model selection, hyperparameter tuning.

# Project approach/ objectives.

My approach to this project follows a structured, step-by-step methodology grounded in
data science best practices. Each stage is thoughtfully designed to build upon the previous,
ensuring a cohesive and comprehensive solution:

1. **Data Merging.**  First I will come up with unified approach to join 7 datasets into one final dataset, retrieving the most relevant information from suplementary datasets.

2. **Data Preprocessing.**  After understanding the dataset, we clean and preprocess the data.


3. **Exploratory Data Analysis.** This step involves thorough understanding of the dataset, variables and structure. With selected features (based on domain knowledge and their interrelationships) this stage covers unearthing patterns, spotting anomalies, checking assumptions through visual and quantitative methods. It provides an in-depth understanding of the variables and their interrelationships.

4. **Machine Learning.** Main objective and most important part of this project. At third sprint its essential to perform good quality feature engineering and achieve best model performance.

5. **Model Deployment to GCP.** All models that are not deployed are useless. One of the main objectives in this Sprint is to be able to deploy model to GCP and access it via http request;

### Real life idea/ solution:

My aim out here is to create data model (in real environment it might be written in SQL) that would aggregate most important data to the main (application) dataset. After data model has conducted all the neccessary transformations, there comes data cleaning/ feature engineering and data modelling.

This Jupyter notebook is going to represent data aggregation/ merging part, which in real life conditions probably would have been done by data engineers/ analytics engineers.

# Data Merging.

## Data Collection.

In [2]:
import numpy as np
import pandas as pd
import warnings
from ydata_profiling import ProfileReport

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
%matplotlib inline
warnings.filterwarnings("ignore")

In [2]:
file_path = '/Users/taurasaleksandravicius/Desktop/Personal/TC/Projects/taleks-ML.4.1/data/'

df = pd.read_csv(f"{file_path}application_train.csv")
bureau = pd.read_csv(f"{file_path}bureau.csv")
bureau_balance = pd.read_csv(f"{file_path}bureau_balance.csv")
credit_card = pd.read_csv(f"{file_path}credit_card_balance.csv")
pos_cash = pd.read_csv(f"{file_path}POS_CASH_balance.csv")
prev_app = pd.read_csv(f"{file_path}previous_application.csv")
install = pd.read_csv(f"{file_path}installments_payments.csv")

In [3]:
df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,0.0690,0.0833,0.1250,0.0369,0.0202,0.0190,0.0000,0.0000,0.0252,0.0383,0.9722,0.6341,0.0144,0.0000,0.0690,0.0833,0.1250,0.0377,0.022,0.0198,0.0,0.0,0.0250,0.0369,0.9722,0.6243,0.0144,0.00,0.0690,0.0833,0.1250,0.0375,0.0205,0.0193,0.0000,0.00,reg oper account,block of flats,0.0149,"Stone, brick",No,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,0.0924,0.0538,0.9851,0.8040,0.0497,0.0806,0.0345,0.2917,0.3333,0.0128,0.079,0.0554,0.0,0.0,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.01,reg oper account,block of flats,0.0714,Block,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,NaN,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

## Data Description.

There are 7 different sources of data:

* application_train/application_test: the main training and testing data with information about each loan application at Home Credit. Every loan has its own row and is identified by the feature `SK_ID_CURR`. The training application data comes with the `TARGET` indicating 0: the loan was repaid or 1: the loan was not repaid. 
* bureau: data concerning client's previous credits from other financial institutions. Each previous credit has its own row in bureau, but one loan in the application data can have multiple previous credits.
* bureau_balance: monthly data about the previous credits in bureau. Each row is one month of a previous credit, and a single previous credit can have multiple rows, one for each month of the credit length. 
* previous_application: previous applications for loans at Home Credit of clients who have loans in the application data. Each current loan in the application data can have multiple previous loans. Each previous application has one row and is identified by the feature `SK_ID_PREV`. 
* POS_CASH_BALANCE: monthly data about previous point of sale or cash loans clients have had with Home Credit. Each row is one month of a previous point of sale or cash loan, and a single previous loan can have many rows.
* credit_card_balance: monthly data about previous credit cards clients have had with Home Credit. Each row is one month of a credit card balance, and a single credit card can have many rows.
* installments_payment: payment history for previous loans at Home Credit. There is one row for every made payment and one row for every missed payment. 

This diagram shows how all of the data is related:

![image](https://storage.googleapis.com/kaggle-media/competitions/home-credit/home_credit.png)

## Description of the columns:

In [3]:
desc = pd.read_csv('data/HomeCredit_columns_description.csv', encoding='Latin-1', index_col = 0)
desc.head()

,Table,Row,Description,Special
1,application_{train|test}.csv,SK_ID_CURR,ID of loan in our sample,NaN
2,application_{train|test}.csv,TARGET,Target variable (1 - client with payment diffi...,NaN
5,application_{train|test}.csv,NAME_CONTRACT_TYPE,Identification if loan is cash or revolving,NaN
6,application_{train|test}.csv,CODE_GENDER,Gender of the client,NaN
7,application_{train|test}.csv,FLAG_OWN_CAR,Flag if the client owns a car,NaN

## My strategy:
Since the dataset is complex, we need to gather as much data as possible into one final dataset that will be used for predictive modelling. My aim is to use user level aggregates to supporting datasets and join them into single dataset. Furthermore I will investigate all datasets and decide on what strategy should be taken. After it I will come up with data cleaning, feature selection, feature engineering and etc. But first we need to **union the data.** <br> 
**The order of tables processing:**
* previous_applications;
* credit_card_balance;
* bureau;
* bureau balance;
* POS-CASH data;
* installments_payments;

### Previous Applications

In [6]:
# profile = ProfileReport(prev_app, title="Profiling Report", explorative=True)
# profile.to_file("profile-reports/prev_app_profile_report.html")
# profile

Selected features from previous applications:
* Amount Annuity.
* Amount Credit.
* Days Decision.
* Cnt Payment.
* Rate Down Payment.
* Days last due;
* Days termination;
* Name Contract Status;
* Product Combination;
* Name Yield Group;

  
I will do mean and sums of these features (numeric) and for categorical I will pick mode values.

In [82]:
agg_funs = {
    'SK_ID_CURR': 'count',
    'AMT_ANNUITY': ['mean', 'sum'],
    'AMT_CREDIT': ['mean', 'sum'],
    'DAYS_DECISION': ['mean'],
    'CNT_PAYMENT': ['mean', 'sum'],
    'RATE_DOWN_PAYMENT': ['mean'],
    'DAYS_LAST_DUE': ['mean'],
    'DAYS_TERMINATION': ['mean']
}

prev_apps = prev_app.groupby('SK_ID_CURR').agg(agg_funs)
prev_apps.columns = ['_'.join(col).upper() for col in prev_apps.columns.values]

mode_features = ['NAME_CONTRACT_STATUS', 'PRODUCT_COMBINATION', 'NAME_YIELD_GROUP']
mode_aggregations = prev_app.groupby('SK_ID_CURR')[mode_features].agg(lambda x: x.mode().iloc[0] if not x.mode().empty else None)

status_counts = prev_app.groupby(['SK_ID_CURR', 'NAME_CONTRACT_STATUS']).size().unstack(fill_value=0)
status_counts.columns = ['STATUS_' + col.upper() + '_COUNT' for col in status_counts.columns]

final_prev_apps = prev_apps.join(mode_aggregations).join(status_counts)
final_prev_apps.columns = [col + '_PRV' for col in final_prev_apps.columns]

In [83]:
final_prev_apps.head()

,SK_ID_CURR_COUNT_PRV,AMT_ANNUITY_MEAN_PRV,AMT_ANNUITY_SUM_PRV,AMT_CREDIT_MEAN_PRV,AMT_CREDIT_SUM_PRV,DAYS_DECISION_MEAN_PRV,CNT_PAYMENT_MEAN_PRV,CNT_PAYMENT_SUM_PRV,RATE_DOWN_PAYMENT_MEAN_PRV,DAYS_LAST_DUE_MEAN_PRV,DAYS_TERMINATION_MEAN_PRV,NAME_CONTRACT_STATUS_PRV,PRODUCT_COMBINATION_PRV,NAME_YIELD_GROUP_PRV,STATUS_APPROVED_COUNT_PRV,STATUS_CANCELED_COUNT_PRV,STATUS_REFUSED_COUNT_PRV,STATUS_UNUSED OFFER_COUNT_PRV
SK_ID_CURR,,,,,,,,,,,,,,,,,,
100001,1,3951.000,3951.000,23787.00,23787.0,-1740.0,8.0,8.0,0.104326,-1619.000000,-1612.000000,Approved,POS mobile with interest,high,1,0,0,0
100002,1,9251.775,9251.775,179055.00,179055.0,-606.0,24.0,24.0,0.000000,-25.000000,-17.000000,Approved,POS other with interest,low_normal,1,0,0,0
100003,3,56553.990,169661.970,484191.00,1452573.0,-1305.0,10.0,30.0,0.050030,-1054.333333,-1047.333333,Approved,Cash X-Sell: low,middle,3,0,0,0
100004,1,5357.250,5357.250,20106.00,20106.0,-815.0,4.0,4.0,0.212008,-724.000000,-714.000000,Approved,POS mobile without interest,middle,1,0,0,0
100005,2,4813.200,4813.200,20076.75,40153.5,-536.0,12.0,12.0,0.108964,-466.000000,-460.000000,Approved,Cash,XNA,1,1,0,0

### Credit Card

In [ ]:
# profile = ProfileReport(credit_card, title="Profiling Report", explorative=True)
# profile.to_file("profile-reports/credit_card_profile_report.html")
# profile

Lets pick the:
* Amt Balance;
* Amt Credit Limit Actual;
* Amt Drawing Current;
* Amt Payment Curring;
* Cnt Drawing Current;
* SK SPD;;
* Name Contract Status;

In [51]:
numeric_features = [
    'AMT_BALANCE',
    'AMT_CREDIT_LIMIT_ACTUAL',
    'AMT_DRAWINGS_CURRENT',
    'AMT_PAYMENT_CURRENT',
    'CNT_DRAWINGS_CURRENT',
    'SK_DPD'
]

categorical_feature = 'NAME_CONTRACT_STATUS'

numeric_agg = credit_card.groupby('SK_ID_CURR')[numeric_features].mean()

most_recent_index = credit_card.groupby('SK_ID_CURR')['MONTHS_BALANCE'].idxmax()

categorical_agg = credit_card.loc[most_recent_index, ['SK_ID_CURR', categorical_feature]].set_index('SK_ID_CURR')

final_credit_agg = numeric_agg.join(categorical_agg)

final_credit_agg.columns = [col + '_CREDIT-CARD' for col in final_credit_agg.columns]

In [52]:
final_credit_agg.head()

,AMT_BALANCE_CREDIT-CARD,AMT_CREDIT_LIMIT_ACTUAL_CREDIT-CARD,AMT_DRAWINGS_CURRENT_CREDIT-CARD,AMT_PAYMENT_CURRENT_CREDIT-CARD,CNT_DRAWINGS_CURRENT_CREDIT-CARD,SK_DPD_CREDIT-CARD,NAME_CONTRACT_STATUS_CREDIT-CARD
SK_ID_CURR,,,,,,,
100006,0.000000,270000.000000,0.000000,NaN,0.000000,0.000000,Active
100011,54482.111149,164189.189189,2432.432432,4843.064189,0.054054,0.000000,Active
100013,18159.919219,131718.750000,5953.125000,7168.346250,0.239583,0.010417,Active
100021,0.000000,675000.000000,0.000000,NaN,0.000000,0.000000,Completed
100023,0.000000,135000.000000,0.000000,NaN,0.000000,0.000000,Active

### Bureau data;

In [ ]:
# profile = ProfileReport(bureau, title="Profiling Report", explorative=True)
# profile.to_file("profile-reports/bureau_profile_report.html")
# profile

Lets pick:
* Credit Day Overdue;
* Days Credit Enddate;
* Amount Credit Sum;
* Amount Credit Sum Debt;
* Amount Credit Sum Overdue;
* Count Credit Prolonged.
* Credit Active.

In [61]:
numeric_features = [
    'CREDIT_DAY_OVERDUE',
    'DAYS_CREDIT_ENDDATE',
    'AMT_CREDIT_SUM',
    'AMT_CREDIT_SUM_DEBT',
    'AMT_CREDIT_SUM_OVERDUE',
    'CNT_CREDIT_PROLONG'
]

categorical_feature = 'CREDIT_ACTIVE'

numeric_agg = bureau_df.groupby('SK_ID_CURR')[numeric_features].mean()

last_agg = bureau_df.groupby('SK_ID_CURR')[categorical_feature].last()

final_bureau_agg = numeric_agg.join(last_agg)

final_bureau_agg.columns = [col + '_BUR' for col in final_bureau_agg.columns]

In [64]:
final_bureau_agg.head()

,CREDIT_DAY_OVERDUE_BUR,DAYS_CREDIT_ENDDATE_BUR,AMT_CREDIT_SUM_BUR,AMT_CREDIT_SUM_DEBT_BUR,AMT_CREDIT_SUM_OVERDUE_BUR,CNT_CREDIT_PROLONG_BUR,CREDIT_ACTIVE_BUR
SK_ID_CURR,,,,,,,
100001,0.0,82.428571,207623.571429,85240.928571,0.0,0.0,Active
100002,0.0,-349.000000,108131.945625,49156.200000,0.0,0.0,Closed
100003,0.0,-544.500000,254350.125000,0.000000,0.0,0.0,Active
100004,0.0,-488.500000,94518.900000,0.000000,0.0,0.0,Closed
100005,0.0,439.333333,219042.000000,189469.500000,0.0,0.0,Active

### POS CASH data;

In [ ]:
# profile = ProfileReport(pos_cash, title="Profiling Report", explorative=True)
# profile.to_file("profile-reports/bureau_balance_profile_report.html")
# profile

Let's pick last month values of this:
* Count of installments;
* Count of installments future;
* Name Contract Status;
* SK DPD;
* SK DPD DEF;

In [70]:
most_recent_index = pos_cash_df.groupby('SK_ID_CURR')['MONTHS_BALANCE'].idxmax()

final_latest_pos_cash = pos_cash_df.loc[most_recent_index, [
    'SK_ID_CURR', 
    'CNT_INSTALMENT', 
    'CNT_INSTALMENT_FUTURE', 
    'NAME_CONTRACT_STATUS', 
    'SK_DPD', 
    'SK_DPD_DEF'
]].set_index('SK_ID_CURR')

final_latest_pos_cash.columns = [col + '_POS' for col in latest_pos_cash.columns]

### Installments Payments;

In [ ]:
# profile = ProfileReport(install, title="Profiling Report", explorative=True)
# profile.to_file("profile-reports/install_profile_report.html")
# profile

Lets only count how many on-time and how many late payments were for each user

In [76]:
install['IS_ON_TIME'] = install['DAYS_ENTRY_PAYMENT'] <= install['DAYS_INSTALMENT']

final_install_agg = install.groupby('SK_ID_CURR')['IS_ON_TIME'].agg([
    ('COUNT_ON_TIME_PAYMENTS', lambda x: x.sum()), 
    ('COUNT_LATE_PAYMENTS', lambda x: (~x).sum()) 
])

final_install_agg.columns = [col + '_INST' for col in final_install_agg.columns]

In [77]:
final_install_agg.head()

            COUNT_ON_TIME_PAYMENTS_INST  COUNT_LATE_PAYMENTS_INST
SK_ID_CURR
100001                                6                         1
100002                               19                         0
100003                               25                         0
100004                                3                         0
100005                                8                         1

### Final Data Merge;

In [86]:
df.shape, final_prev_apps.shape, final_credit_agg.shape, final_bureau_agg.shape, final_latest_pos_cash.shape, final_install_agg.shape

((307511, 122),
 (338857, 18),
 (103558, 7),
 (305811, 7),
 (337252, 5),
 (339587, 2))

In [87]:
merged_df = df.merge(final_prev_apps, left_on='SK_ID_CURR', right_index=True, how='left')
merged_df = merged_df.merge(final_credit_agg, left_on='SK_ID_CURR', right_index=True, how='left')
merged_df = merged_df.merge(final_bureau_agg, left_on='SK_ID_CURR', right_index=True, how='left')
merged_df = merged_df.merge(final_latest_pos_cash, left_on='SK_ID_CURR', right_index=True, how='left')
merged_df = merged_df.merge(final_install_agg, left_on='SK_ID_CURR', right_index=True, how='left')

In [88]:
merged_df.shape

(307511, 161)

In [90]:
merged_df.head(5)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,SK_ID_CURR_COUNT_PRV,AMT_ANNUITY_MEAN_PRV,AMT_ANNUITY_SUM_PRV,AMT_CREDIT_MEAN_PRV,AMT_CREDIT_SUM_PRV,DAYS_DECISION_MEAN_PRV,CNT_PAYMENT_MEAN_PRV,CNT_PAYMENT_SUM_PRV,RATE_DOWN_PAYMENT_MEAN_PRV,DAYS_LAST_DUE_MEAN_PRV,DAYS_TERMINATION_MEAN_PRV,NAME_CONTRACT_STATUS_PRV,PRODUCT_COMBINATION_PRV,NAME_YIELD_GROUP_PRV,STATUS_APPROVED_COUNT_PRV,STATUS_CANCELED_COUNT_PRV,STATUS_REFUSED_COUNT_PRV,STATUS_UNUSED OFFER_COUNT_PRV,AMT_BALANCE_CREDIT-CARD,AMT_CREDIT_LIMIT_ACTUAL_CREDIT-CARD,AMT_DRAWINGS_CURRENT_CREDIT-CARD,AMT_PAYMENT_CURRENT_CREDIT-CARD,CNT_DRAWINGS_CURRENT_CREDIT-CARD,SK_DPD_CREDIT-CARD,NAME_CONTRACT_STATUS_CREDIT-CARD,CREDIT_DAY_OVERDUE_BUR,DAYS_CREDIT_ENDDATE_BUR,AMT_CREDIT_SUM_BUR,AMT_CREDIT_SUM_DEBT_BUR,AMT_CREDIT_SUM_OVERDUE_BUR,CNT_CREDIT_PROLONG_BUR,CREDIT_ACTIVE_BUR,CNT_INSTALMENT_POS,CNT_INSTALMENT_FUTURE_POS,NAME_CONTRACT_STATUS_POS,SK_DPD_POS,SK_DPD_DEF_POS,COUNT_ON_TIME_PAYMENTS_INST,COUNT_LATE_PAYMENTS_INST
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,0.0690,0.0833,0.1250,0.0369,0.0202,0.0190,0.0000,0.0000,0.0252,0.0383,0.9722,0.6341,0.0144,0.0000,0.0690,0.0833,0.1250,0.0377,0.022,0.0198,0.0,0.0,0.0250,0.0369,0.9722,0.6243,0.0144,0.00,0.0690,0.0833,0.1250,0.0375,0.0205,0.0193,0.0000,0.00,reg oper account,block of flats,0.0149,"Stone, brick",No,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,9251.775,9251.775,179055.00,179055.0,-606.000000,24.000000,24.0,0.000000,-25.000000,-17.000000,Approved,POS other with interest,low_normal,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,-349.0,108131.945625,49156.2,0.0,0.0,Closed,24.0,6.0,Active,0.0,0.0,19.0,0.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,0.0924,0.0538,0.9851,0.8040,0.0497,0.0806,0.0345,0.2917,0.3333,0.0128,0.079,0.0554,0.0,0.0,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.01,reg oper account,block of flats,0.0714,Block,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,56553.990,169661.970,484191.00,1452573.0,-1305.000000,10.000000,30.0,0.050030,-1054.333333,-1047.333333,Approved,Cash X-Sell: low,middle,3.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,-544.5,254350.125000,0.0,0.0,0.0,Active,7.0,0.0,Completed,0.0,0.0,25.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,5357.250,5357.250,20106.00,20106.0,-815.000000,4.000000,4.0,0.212008,-724.000000,-714.000000,Approved,POS mobile without interest,middle,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,-488.5,94518.900000,0.0,0.0,0.0,Closed,3.0,0.0,Completed,0.0,0.0,3.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,9.0,23651.175,141907.050,291695.50,2625259.5,-272.444444,23.000000,138.0,0.163412,182477.500000,182481.750000,Approved,Cash,XNA,5.0,3.0,1.0,0.0,0.0,270000.0,0.0,NaN,0.0,0.0,Active,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,3.0,Active,0.0,0.0,16.0,0.0
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,NaN,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,12278.805,73672.830,166638.75,999832.5,-1222.833333,20.666667,124.0,0.159516,72136.200000,72143.800000,Approved,Cash X-Sell: middle,high,6.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,-783.0,146250.000000,0.0,0.0,0.0,Closed,24.0,13.0,Active,0.0,0.0,50.0,16.0

In [91]:
merged_df.to_csv('data/merged_data.csv')